:root {
  /* Fonts */
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  /* Text-color */
  ---primary-text-color: rgba(33, 33, 33, 1);
  ---title-text-color: rgba(117, 117, 117, 1);
  ---accent-color: rgba(33, 150, 243, 1);
  ---primary-white: rgba(255, 255, 255, 1);
  /* BG-color */
  ---white-bgd: rgba(255, 255, 255, 1);
  ---accent-bgd: rgba(33, 150, 243, 1);
  ---dark-bgd: rgba(47, 48, 58, 1);
  ---white-bgd-10: rgba(255, 255, 255, 0.1);
  ---secondary-bgd: rgba(245, 244, 250, 1);
  /* Others */
  ---border-color: rgba(236, 236, 236, 1);
  ---btn-active-color: rgba(24, 140, 232, 1);
  ---brands-icon: rgba(175, 177, 184, 1);
  ---white-cl-60: rgba(255, 255, 255, 0.6);
  ---logo__second-part: rgba(0, 0, 0, 1);
  ---overlay-color: rgba(33, 150, 243, 0.9);
  ---backdrop-color: rgba(0, 0, 0, 0.2);
  ---trns-fast: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: var(--main-font);
  background-color: var(---primary-white);
  color: var(---primary-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  color: currentColor;
  -webkit-transition: color var(---trns-fast);
  transition: color var(---trns-fast);
}

.link:hover,
.link:focus {
  color: var(---accent-color);
}

.btn {
  display: inline-block;
  border: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header {
  border-bottom: 1px solid var(---border-color);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
}

.logo__first-part {
  color: var(---accent-color);
}

.logo__second-part {
  color: var(---logo__second-part);
}

.logo__second-part--white {
  color: var(---primary-white);
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__list {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 86px;
    color: var(---primary-text-color);
  }
}
@media screen and (min-width: 1200px) {
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 93px;
    color: var(---primary-text-color);
  }
}

.nav__item {
  margin-right: 50px;
}
.nav__item:last-child {
  margin-right: 0;
}

.nav__link {
  display: block;
  padding: 32px 0;
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
}
.nav__link--current {
  color: var(---accent-color);
}
.nav__link--current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(---accent-bgd);
}

.contact {
  display: none;
}
@media screen and (min-width: 768px) {
  .contact {
    display: block;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .contact__item + .contact__item {
    margin-left: 30px;
  }
}

.contact__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: var(---title-text-color);
  -webkit-transition: color var(---trns-fast);
  transition: color var(---trns-fast);
}
.contact__link:focus, .contact__link:hover {
  color: var(---accent-color);
}
@media screen and (min-width: 768px) {
  .contact__link {
    padding: 5px 0;
  }
}
@media screen and (min-width: 1200px) {
  .contact__link {
    padding: 32px 0;
  }
}

.contact__icon {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: currentColor;
}

.hero {
  background-color: var(---dark-bgd);
  width: 100%;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 118px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/img_mob@1x.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/img_mob@1x.jpg);
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/img_mob@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/img_mob@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/img_t@1x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/img_t@1x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/img_t@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/img_t@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    padding: 200px 0;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/img_d@1x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/img_d@1x.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/img_d@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/img_d@2x.jpg);
  }
}

.hero__title {
  color: var(---primary-white);
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .hero__title {
    max-width: 360px;
    font-size: 26px;
    line-height: 1.6153846154;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.3636363636;
  }
}

.hero__btn {
  font-family: var(--main-font);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  padding: 10px 24px;
  min-width: 200px;
  min-height: 50px;
  border-radius: 4px;
  text-decoration: none;
  color: var(---primary-white);
  background: var(---accent-bgd);
  -webkit-transition: color var(---trns-fast), background var(---trns-fast);
  transition: color var(---trns-fast), background var(---trns-fast);
}
.hero__btn:hover, .hero__btn:focus {
  color: var(---primary-white);
  background: var(---btn-active-color);
}
@media screen and (min-width: 1200px) {
  .hero__btn {
    min-width: 216px;
    padding: 10px 32px;
  }
}

.email__form__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  padding: 10px 28px;
  min-width: 200px;
  min-height: 50px;
  font-family: var(--main-font);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(---primary-white);
  background: var(---accent-bgd);
  border-radius: 4px;
  text-decoration: none;
  -webkit-transition: color var(---trns-fast), background var(---trns-fast);
  transition: color var(---trns-fast), background var(---trns-fast);
}
.email__form__btn:hover, .email__form__btn:focus {
  color: var(---primary-white);
  background: var(---btn-active-color);
}
@media screen and (max-width: 1199px) {
  .email__form__btn {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}

.filter__btn {
  font-family: var(--main-font);
  color: var(---primary-text-color);
  background: var(---secondary-bgd);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6px 22px;
  border-radius: 6px;
  text-decoration: none;
  -webkit-transition: color var(---trns-fast), background var(---trns-fast), -webkit-box-shadow var(---trns-fast);
  transition: color var(---trns-fast), background var(---trns-fast), -webkit-box-shadow var(---trns-fast);
  transition: color var(---trns-fast), background var(---trns-fast), box-shadow var(---trns-fast);
  transition: color var(---trns-fast), background var(---trns-fast), box-shadow var(---trns-fast), -webkit-box-shadow var(---trns-fast);
}
.filter__btn:hover, .filter__btn:focus {
  color: var(---primary-white);
  background: var(---accent-bgd);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(---white-bgd);
  border: 1px solid rgba(0, 0, 0, 0.1);
  fill: currentColor;
  -webkit-transition: var(---trns-fast);
  transition: var(---trns-fast);
}
.close-btn:focus, .close-btn:hover {
  color: var(---accent-color);
}

.form-btn {
  padding: 10px 28px;
  min-width: 200px;
  min-height: 50px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(---primary-white);
  background: var(---accent-bgd);
  border-radius: 4px;
  text-decoration: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-transition: color var(---trns-fast), background var(---trns-fast);
  transition: color var(---trns-fast), background var(---trns-fast);
}
.form-btn:hover, .form-btn:focus {
  color: var(---primary-white);
  background: var(---btn-active-color);
}

.features__container {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .features__container {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.features__title--visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features__list {
  display: block;
}
@media screen and (min-width: 768px) {
  .features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .features__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media screen and (max-width: 767px) {
  .features__item {
    width: 450px;
  }
  .features__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .features__item {
    width: 354px;
    margin-bottom: 30px;
  }
  .features__item:nth-child(2n+1) {
    margin-right: 30px;
  }
  .features__item:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    width: calc((100% - 90px) / 4);
    margin-right: 50px;
    margin-bottom: 0;
  }
  .features__item:nth-child(4n) {
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    width: 270px;
    margin-right: 30px;
  }
  .features__item:nth-child(4n) {
    margin-right: 0;
  }
}

.features__icon__container {
  margin-bottom: 30px;
  background-color: var(---secondary-bgd);
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.features__icon {
  padding: 25px 100px;
  fill: currentColor;
}

.features__fact {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(---primary-text-color);
  margin-top: auto;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  .features__fact {
    text-align: center;
  }
}

.features__description {
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(---title-text-color);
}

@media screen and (max-width: 1199px) {
  .box__container {
    display: none;
  }
}

.box__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(---primary-text-color);
  margin-top: 0;
  margin-bottom: 50px;
  padding-top: 0;
  padding-bottom: 0;
}

.box__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
  gap: 30px;
}

.box__wrapper {
  position: relative;
}

.box__label {
  background: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8)));
  background: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8));
  width: 100%;
  height: 70px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.box__description {
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(---primary-white);
  padding: 27px 0;
}

.team {
  background-color: var(---secondary-bgd);
}

.team__container {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .team__container {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(---primary-text-color);
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.team__list {
  display: block;
}
@media screen and (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.team__item {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (max-width: 767.98px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 1199px) {
  .team__item {
    width: 450px;
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
  .team__item:nth-child(-n+2) {
    margin-bottom: 30px;
  }
  .team__item:nth-child(2n+1) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team__item:not(:first-child) {
    margin-left: 30px;
  }
  .team__item:only-child {
    margin-bottom: 0px;
  }
}

.team__card {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(---primary-white);
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(---primary-text-color);
  margin-bottom: 10px;
}

.team__description {
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(---title-text-color);
  margin-top: 0;
  margin-bottom: 0;
}

.team__social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 16px;
  -ms-flex-preferred-size: calc((100% - 30px) / 4);
      flex-basis: calc((100% - 30px) / 4);
  gap: 10px;
}

.team__social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  fill: currentColor;
  color: var(---brands-icon);
  border-radius: 50%;
  gap: 10px;
  -webkit-transition: color var(---trns-fast), background-color var(---trns-fast);
  transition: color var(---trns-fast), background-color var(---trns-fast);
}
.team__social__link:hover, .team__social__link:focus {
  color: var(---primary-white);
  background-color: var(---accent-bgd);
}

.social__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-footer {
  display: block;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
  .social-footer {
    margin-top: 60px;
  }
}
@media screen and (min-width: 768px) {
  .social-footer {
    width: 206px;
    margin-left: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .social-footer {
    margin-left: 70px;
  }
}

.social-footer__description {
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(---primary-white);
  font-weight: 700;
  text-transform: uppercase;
}

.social-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
  -ms-flex-preferred-size: calc((100% - 30px) / 4);
      flex-basis: calc((100% - 30px) / 4);
  gap: 10px;
}

.social-footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  background-color: var(---white-bgd-10);
  fill: currentColor;
  color: var(---primary-white);
  border-radius: 50%;
  gap: 10px;
  -webkit-transition: color var(---trns-fast), background-color var(---trns-fast);
  transition: color var(---trns-fast), background-color var(---trns-fast);
}

.social-footer__link:hover,
.social-footer__link:focus {
  color: var(---primary-white);
  background-color: var(---accent-bgd);
}

.social__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clients__container {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .clients__container {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(---primary-text-color);
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .clients__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.clients__list {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clients__item {
  margin-bottom: 30px;
}

.client__link {
  display: block;
  width: 210px;
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: currentColor;
  color: var(---brands-icon);
  border: 1px solid var(---brands-icon);
  border-radius: 4px;
  padding: 16px 32px;
  -webkit-transition: color var(---trns-fast), border-color var(---trns-fast);
  transition: color var(---trns-fast), border-color var(---trns-fast);
}
.client__link:hover, .client__link:focus {
  color: var(---accent-color);
  border-color: var(---accent-color);
}
@media screen and (min-width: 768px) {
  .client__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .client__link {
    width: 170px;
  }
}

.footer {
  background-color: var(---dark-bgd);
  padding: 60px 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    text-align: left;
  }
}

.footer__wrapper {
  display: block;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer__wrapper {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  .footer__group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}
@media screen and (max-width: 1199px) {
  .footer__group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .footer__group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.address {
  display: block;
  width: 231px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.address__list {
  font-family: var(--main-font);
  font-style: normal;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 20px;
}

.address__item {
  margin-bottom: 0;
  margin-top: 0;
}

.address__item + .address__item {
  margin-top: 9px;
}

.address__maps {
  color: var(---primary-white);
}

.address__link {
  color: var(---white-cl-60);
}

.email {
  display: block;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .email {
    margin-left: 93px;
    text-align: left;
  }
}

.email__description {
  font-size: 14px;
  margin-bottom: 20px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  color: var(---primary-white);
  font-weight: 700;
  text-transform: uppercase;
}

.email__form {
  display: block;
}
@media screen and (min-width: 1200px) {
  .email__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 50px;
  }
}

.email__form__field {
  width: 100%;
}

.email__form__input {
  width: 450px;
  height: 50px;
  padding-left: 16px;
  outline: transparent;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(---white-cl-60);
}
@media screen and (min-width: 1200px) {
  .email__form__input {
    width: 358px;
    margin-right: 12px;
  }
}

.portfolio__container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio__title--visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.filters__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filters__item + .filters__item {
  margin-left: 8px;
}

.project__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 50px;
}

.project__item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  -webkit-transition: -webkit-box-shadow var(---trns-fast);
  transition: -webkit-box-shadow var(---trns-fast);
  transition: box-shadow var(---trns-fast);
  transition: box-shadow var(---trns-fast), -webkit-box-shadow var(---trns-fast);
}
.project__item:hover, .project__item:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project__item:nth-child(3n) {
  margin-right: 0;
}
.project__item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.project__wrapper {
  position: relative;
  overflow: hidden;
}

.project__overlay {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(---overlay-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform var(---trns-fast);
  transition: -webkit-transform var(---trns-fast);
  transition: transform var(---trns-fast);
  transition: transform var(---trns-fast), -webkit-transform var(---trns-fast);
}
.project__item:hover .project__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.project__overlay__text {
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
  color: var(---primary-white);
}

.project__container {
  padding: 20px 24px;
  border-left: 1px solid var(---border-color);
  border-right: 1px solid var(---border-color);
  border-bottom: 1px solid var(---border-color);
}

.project__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(---primary-text-color);
  margin-top: 0;
  margin-bottom: 4px;
}

.project__description {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(---title-text-color);
  margin-top: 0;
  margin-bottom: 0;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(---backdrop-color);
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  -webkit-transition: opacity 150ms linear, visibility 150ms linear;
  transition: opacity 150ms linear, visibility 150ms linear;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  width: 450px;
  height: 609px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 40px;
  border-radius: 4px;
  background: var(---white-bgd);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: -webkit-transform 300ms ease-out;
  transition: -webkit-transform 300ms ease-out;
  transition: transform 300ms ease-out;
  transition: transform 300ms ease-out, -webkit-transform 300ms ease-out;
}
.backdrop.is-hidden .modal {
  -webkit-transform: translateX(-50%) translateY(-70%);
          transform: translateX(-50%) translateY(-70%);
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal-title {
  display: block;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(---primary-text-color);
  font-weight: 700;
  text-align: center;
  margin-bottom: 12px;
}
@media screen and (min-width: 1200px) {
  .modal-title {
    line-height: 1.15;
  }
}

.modal-form {
  text-align: center;
}

.form-group {
  display: block;
}

.form-field {
  position: relative;
  display: block;
  margin-bottom: 10px;
  text-align: left;
}
.form-field:focus-within > input {
  border: 7px solid var(---accent-color);
}

.form-label {
  display: block;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: var(---title-text-color);
}

.form-input {
  outline: transparent;
  width: 100%;
  height: 40px;
  margin-top: 4px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: border var(---trns-fast);
  transition: border var(---trns-fast);
}

.form-field:focus-within > input {
  border: 1px solid var(---accent-color);
}

.form-field:hover > input {
  border: 1px solid var(---accent-color);
}

.form-icon {
  outline: transparent;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 12px;
  top: 50%;
  fill: currentColor;
  -webkit-transition: color var(---trns-fast);
  transition: color var(---trns-fast);
  cursor: pointer;
}
.form-field:focus-within > .form-icon {
  color: var(---accent-color);
}
.form-field:hover > .form-icon {
  color: var(---accent-color);
}

.form-message {
  outline: transparent;
  resize: none;
  width: 100%;
  height: 120px;
  margin-top: 4px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border var(---trns-fast);
  transition: border var(---trns-fast);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(---primary-text-color);
  cursor: pointer;
}
.form-message:focus, .form-message:hover {
  border: 1px solid var(---accent-color);
}

.form-policy-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.form-policy-dscr {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  color: var(---title-text-color);
  margin-bottom: 0;
}
@media screen and (min-width: 1200px) {
  .form-policy-dscr {
    font-size: 14px;
    line-height: 1.7142857143;
  }
}

.link-policy {
  color: var(---accent-color);
  text-decoration: underline;
}

.custom-checkbox {
  width: 16px;
  height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 8px;
  border-radius: 2px;
  outline: 2px solid black;
  outline-offset: -2px;
  -webkit-transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.custom-checkbox-icon {
  opacity: 0;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .custom-checkbox .custom-checkbox-icon {
  opacity: 1;
}

.checkbox:checked + .custom-checkbox-icon {
  opacity: 1;
}

.checkbox:checked + .custom-checkbox {
  outline-color: var(---accent-color);
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: currentColor;
  margin-left: auto;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle:hover,
.menu-toggle:focus {
  color: var(---accent-color);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: #fff;
  z-index: 999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  margin-left: auto;
  top: 10px;
  right: 15px;
  fill: currentColor;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: auto;
}

.mobile-menu-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu .link {
  display: block;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  color: #000;
  text-decoration: none;
}

.mobile-menu .link:hover,
.mobile-menu .link:focus {
  color: var(---accent-color);
}

.mobile-menu-link.current {
  color: var(---accent-color);
}

.mobile-contacts-link {
  display: block;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 34px;
  line-height: 1.1764705882;
  color: var(---accent-color);
  text-decoration: none;
  margin-bottom: 32px;
}

.email-contacts-link {
  display: block;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1666666667;
  color: #757575;
  text-decoration: none;
  margin-bottom: 64px;
}

.mobile-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mobile-socials-item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-socials-item:not(:first-child) {
  padding-left: 10px;
}

.mobile-social-link {
  display: block;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
  color: var(---accent-color);
  text-decoration: none;
}

.menu-icon {
  margin: 10px 0;
}/*# sourceMappingURL=main.css.map */